.list {
  // background-color: blue;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0px 2px 10px 0px black;
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }

  .item {
    border: 1px dotted black;
    padding: 1rem;
    // margin: 1rem;
  }
}

.add {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .set {
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
      width: 80%;
    }
  }
}
